# Azure AI Speech
AZURE_SPEECH_KEY=
AZURE_SPEECH_REGION=

# Google Cloud
GOOGLE_APPLICATION_CREDENTIALS=

# AWS S3 (If not using IAM roles)
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_S3_BUCKET=
